
<div class="jumbotron text-center">
  <h1>Contact page</h1>
  <br /><br />
  <p class="well">If you have any question or feedback please leave a message with your email address.</p>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Your email address*:</label>
        {{input type="email" value=emailAddress class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus"}}
        {{textarea class="form-control" placeholder="Your message. (At least 5 characters.)" rows="7" value=message}}
      </div>
      <div class="form-group">
        <label>Your message*:</label>
        <button class="btn btn-primary btn-lg btn-block" disabled={{unless isValid 'disabled'}} {{action 'snedMessage'}}>Submit</button>
      </div>
    </div>
  </div>

  {{#if responseMessage}}
  <div class="alert alert-success">{{responseMessage}}</div>
  {{/if}}

  <br /><br />
</div>